/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/docker/mysql/#innodb_redo
/docker/mysql/#innodb_temp
/docker/mysql/logs
/docker/nginx/logs
/docker/mysql/#ib_16384_0.dblwr
/docker/mysql/ib_buffer_pool
/docker/mysql/ibdata1
/docker/mysql/ibtmp1
/docker/mysql/mysql.ibd
/docker/mysql/undo_001
/docker/mysql/undo_002
/docker/mysql/binlog.index
